/* General */
* {
  font-family: "Roboto Condensed", sans-serif;
}

.navbar-white {
  background-color: white;
}

/* index.html */
.yphone-img-text {
  position: relative;
}

.display-1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.to-shop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 6%;
}

/* yphone.html */
.text-center.margin {
  margin-top: 10%;
}

.text-center.mid {
  margin-top: 2%;
}
/* shop.html */
